# Configuration file for EditorConfig, see https://EditorConfig.org

# Ignore any other files further up in the file system
root = true

# All files:
[*]
# Let git determine line ending: end_of_line = lf
charset = utf-8
indent_size = 4
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files: keep trailing space-pair as line-break
[*.md]
trim_trailing_whitespace = false

# Python scripts:
[*.py]
indent_style = space

# YAML scripts:
[*.yml]
indent_size = 2
indent_style = space

# Makefiles: Tab indentation (no size specified)
[Makefile]

# C, C++ source files: Tab indentation (shown as 4 positions)
[*.{h,hpp,c,cpp}]
